:root {
  --primary-color: #8e6aad;
  --secondary-color: #c6a2cb;
  --tertiary-color: #ffeefc;
  --dark-color: #4d287b;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--tertiary-color);
  color: var(--dark-color);
  text-align: center;
}

.App .container {
  margin: 0 auto;
  max-width: 700px;
}
.App .appcontent {
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(226, 206, 237) 91.1%
  );
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  padding-bottom: 20px;
  margin-top: 70px;
}

.App h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.App footer {
  font-size: small;
  padding-left: 20px;
  margin: 5px;
  font-family: monospace;
}
.App footer a {
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.App footer a:hover {
  color: var(--dark-color);
}
