:root {
  --primary-color: #8e6aad;
  --secondary-color: #c6a2cb;
  --tertiary-color: #ffeefc;
  --dark-color: #4d287b;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--tertiary-color);
  color: var(--dark-color);
}
